# Module 1 - Introductie

Welkom bij module 1 van de Python training!

Bij de opdrachten behandelen wij de volgende onderwerpen: 

  1. Documentatie zoeken

  2. Python the basics

  3. Data typen in Python

De opdrachten voor documentatie (1) en Python the basics (2) staan in het slide deck. Je kunt deze opdrachten maken en vragen beantwoorden in een leeg Jupyter notebook script of onderaan dit script.

Zorg ervoor dat je de set-up van VSCode hebt uitgevoerd zoals aangegeven tijdens de training. 

Hieronder volgen opdrachten over Data typen in Python (3) die je per cell kan uitvoeren en beantwoorden:

## The basics: zelf programmeren

### Opdracht 1: Bereken: (2∙ (3−1)^4)/√25

In [ ]:
import math

answer = 2*(3-1)**(4)/math.sqrt(25)

print(answer)

### Opdracht 2: Wijs de waardes 4 en 3 toe aan de variabelen ‘a’ en ‘b’. Print de variabelen.

In [ ]:
a = 4
b = 3

print(a, b)

### Opdracht 3: Vermenigvuldig a en b met elkaar en print het resultaat.

In [ ]:
print(a*b)

### Opdracht 4: Wijs de waarde “2.0” toe aan variabele ‘c’.

In [ ]:
c = 2.0

### Opdracht 5: Print het datatype van ‘a’, ‘b’ en ‘c’.

In [ ]:
print(type(a))
print(type(b))
print(type(c))

### Opdracht 6: Maak de opdracht uit opdracht 1 opnieuw, maar gebruik nu de variabelen ‘a’ en ‘b’.

In [ ]:
answer = 2*(b-1)**(a)/math.sqrt(25)

print(answer)

### Opdracht 7: Wijs de waarde ‘[0,1,2]’ toe aan variabele ‘d’. Print het datatype.

In [ ]:
d = [0, 1, 2]

print(type(d))

### Opdracht 8: Zoek in documentatie hoe je het tweede element uit de lijst haalt en pas dit toe. Wat valt je op?

In [ ]:
print(d[1])

## Datatypen

### Opdracht 1: Maak een lijst met daarin de volgende salarissen van een persoon voor de jaren 2015 t/m 2024.
1. Maak een lijst met salarissen van een persoon voor de jaren 2015 t/m 2024. Maximale pensioengevende salarissen voor de jaren 2015 t/m 2021 zijn: 100000, 101519, 103317, 105075, 107593, 110111, 112189, 114866, 128810, 137800
2. Print het maximum salaris van 2017

In [ ]:
# 1
max_sal = [100000, 101519, 103317, 105075, 107593, 110111, 112189, 112189, 114866, 128810, 137800]

# 2
print(max_sal[2])

### Opdracht 2: Maak een lijst met daarin de jaren 2015 t/m 2024

In [ ]:
jaren = [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]

### Opdracht 3: Maak een dictionary van de maximale salarissen. 
1. Maak een dictionary met Key = jaartal en Value = maximum salaris. Gebruik de lijsten uit opdrachten 1 en 2. 
Tip: gebruik de zip() functie.
2. Print het maximum salaris van 2015

In [ ]:
# 1
dic = dict(zip(jaren, max_sal))
lis = list(zip(jaren, max_sal))
print(dic)
print(lis)

# 2
print(dic[2015])
print(lis[0][1])

### Opdracht 4: Berekening opbouw
Bereken de jaaropbouw voor pensioenen voor 2024 met opbouwpercentage 1.875% en franchise = 17545. 
1. Wijs de waarden toe aan variabelen.
2. Bereken de jaaropbouw voor pensioenen voor 2024. Gebruik de dictionary uit opdracht 3 voor het ophalen van de juiste waarden voor het maximum salaris in 2024. Wijs de uitkomst toe aan een variabele.

In [ ]:
# 1
opbouw = 0.01875
franchise = 17545
# 2
pensioen_2024 = opbouw*(dic[2024]-franchise)
print(pensioen_2024)

### Extra vraag: waarom is het gebruik van een dictionary bij opdracht 4 handiger dan een lijst of andere structuur?

1. Toegankelijkheid via 'Keys': Een dictionary maakt het mogelijk om gegevens direct op te vragen via een duidelijke en betekenisvolle key, in dit geval het jaartal (bijvoorbeeld 2024). Dit maakt het intuïtief en makkelijk om de juiste waarde te vinden op basis van het jaartal. In tegenstelling tot een lijst, waarbij je door de index moet navigeren (bijvoorbeeld de 0e, 1e of 2e positie), kun je met een dictionary direct naar de gewenste waarde refereren met een sleutel die relevant is voor het probleem.

2. Flexibiliteit en uitbreidbaarheid: Met een dictionary kun je gemakkelijk andere jaren toevoegen, bijvoorbeeld dic[2025], dic[2026], enz., zonder dat je de structuur hoeft aan te passen. Bij een lijst zou je een vaste volgorde moeten handhaven of handmatig de juiste index moeten onthouden om toegang te krijgen tot de waarden, wat minder overzichtelijk en foutgevoeliger is.

3. Leesbaarheid van de code: Door gebruik te maken van een dictionary, is de code leesbaarder en begrijpelijker voor anderen. Je ziet meteen dat de waarde gekoppeld is aan een specifiek jaar, wat niet minder duidelijk zou zijn als je een lijst of een andere structuur zou gebruiken.


Kortom, een dictionary biedt meer duidelijkheid, maakt de code makkelijker uitbreidbaar, en vereenvoudigt het ophalen van gegevens, vooral als het gaat om het werken met data die logisch is gestructureerd als 'key-value'-paren, zoals jaartallen en bijbehorende pensioengegevens.

### Opdracht 5: Welke datatypes heb ik?
1. Print de datatypes van de variabelen jaren en max_sal uit Opdracht 1 en Opdracht 2.
2. Print het datatype van een individueel element uit de jaren lijst.
3. Print het datatype van het berekende pensioen uit 2024 bij opdracht 4.

In [ ]:
# 1
print("Het datatype van 'jaren' is:", type(jaren))
print("Het datatype van 'salarissen' is:", type(max_sal))

# 2
print("Het datatype van een element uit 'jaren' is:", type(jaren[0]))

# 3
print("Het datatype van het pensioenbedrag is:", type(pensioen_2024))

### Opdracht 6: maak een tuple met waarden 6 t/m 10.
1. Maak een tuple en print het 3e element. 
2. Wijzig daarna het 4e element naar de waarde 20.

In [ ]:
# 1
tup = (6,7,8,9,10)
print("Test:", tup[2])

# 2
# tup[3] = 20

3. Wat valt je op?

Je kunt  het 4e element van een tuple niet wijzigen. Dit komt omdat tuples in Python immutable zijn, wat betekent dat hun elementen niet kunnen worden aangepast nadat ze zijn aangemaakt.

### Opdracht 7: Oefenen met sets
Run de volgende voorgeprogrammeerde code

In [ ]:
set1 = set([i for i in range(1973, 6571)])
set2 = set([i for i in range(1345, 5728)])

Laat zien wat er in set1 staat

In [ ]:
print(set1)

Voeg het getal 1972 toe aan set1

In [ ]:
set1.add(1972)

Verwijder het laagste element uit set2.

In [ ]:
set2.remove(min(set2))

Hoe groot is de intersectie van de twee set?

In [ ]:
len(set1.intersection(set2))

Hoe groot is de union van de twee sets?

In [ ]:
len(set1.union(set2))

Vind de set van waarde uit set1 die niet in set2 zitten en print de omvang van deze set

In [ ]:
len(set1.difference(set2))

### Extra opdrachten

#### Opdracht 8: Extra oefeningen met lists
Werken met lijst slicing: Gebruik de lijst van jaren uit Opdracht 2. Selecteer de eerste 3 jaren (2015, 2016 en 2017).

In [ ]:
eerste_jaren = jaren[:3]
print(eerste_jaren)

Gebruik de lijst van salarissen (max_sal) uit Opdracht 1.  Bereken het gemiddelde max salaris 

Tip: gebruik sum() en len()

In [ ]:
sum(max_sal) / len(max_sal)

#### Opdracht 9:  Werken met booleans
Controleer of een bepaald salaris hoger is dan €110.000
1. Maak een variabele aan met een zelfgekozen salaris
2. Controleer of het salaris hoger is dan €110.000

In [ ]:
# 1
salaris = 105000

# 2
salaris > 110000

#### Opdracht 10: Werken met nested dictionaries
Maak een dictionary die per jaren 2022 en 2023 een salaris en een parttimegraad bevat. Je bent vrij om de waarden van de gegevens te kiezen. Gebruik een nested dictionary.

In [ ]:
gegevens = {
    2022: {"Salaris": 25123, "Parttimegraad": 0.6},
    2023: {"Salaris": 65282, "Parttimegraad": 0.7},
}